body {
	background: mediumpurple;
	font-family: 'Open Sans', sans-serif;
}

h1{
	text-align: center;
	color: white;
	width: 100%;
}

td,
th {
	border: 2px solid rebeccapurple;
	color: black;
	text-align:center;
	padding: 8px;
	width: 10px;
}

td:hover {
	background-color: ghostwhite;
}

td:hover {
	background-color: ghostwhite;
}

.kepala-tabel {
	background-color: #00BFFF;
}

.tabel {
	border-collapse: collapse;
	width: 100%;
}

.isi-tabel {
	background-color: skyblue;
}